@media (max-width: 677px) {
  a{
    text-decoration: none;
  }
  body {
    margin: 0px;
    padding: 0px;
    Font-size: 62.5%;
    min-width: 320px;
  }

  .container,body {
    background-color: #666;
  }

  h1 {
    text-align: center;
    font-family: sans-serif;
    color: #fff;
  }

  h1:hover {
    text-align: center;
    font-family: sans-serif;
    color: #ccc;
  }


  .container {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-around;
    /* 水平 */


  }

  .container .task {
    font-size: 1.3em;
    color: #000;
    background-color: #fff;
    margin-top: 18px;
    border-radius: 5px;
    width: 90%;
    display: flex;
    align-items: center;
  }
  .container .task:hover{
    background-color: #dee;
  }

  .container .task-underway {
    font-size: 1.3em;
    color: #666;
    background-color: #88f1c9;
    border-radius: 5px;
    width: 90%;
    height: 56px;
    display: flex;
    align-items: center;
  }

  .container a{
   color: #000;
  }
  .container a:hover{
   color: #888;
  }


  .container .task .github-logo {
    background-image: url("../img/GitHub-Mark-s-click.png");
    background-repeat: no-repeat;
    height: 30px;
    width: 30px;
    margin: 3px 0;
    margin-left: 5%;
  }

  .container .task .github-logo:hover {
    background-image: url("../img/GitHub-Mark-s.png");
    background-repeat: no-repeat;
    height: 30px;
    width: 30px;
    margin: 3px 0;
    margin-left: 5%;
  }

  .container .task * {
    font-size: 1em;
    vertical-align: middle;
    margin-left: 3%;
    margin-top: 3px;
    padding: 10px;
  }

}

@media (min-width: 677px) {
  a{
    text-decoration: none;
  }
body {
  margin: 0px;
  padding: 0px;
  Font-size: 62.5%;
}

.container ,body {
  background-color: #666;
}

h1 {
  text-align: center;
  font-family: sans-serif;
  color: #fff;
  font-size: 26px;
}

h1:hover {
  text-align: center;
  font-family: sans-serif;
  color: #ccc;
}


.container {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-around;
  /* 水平 */


}

.container .task {
  font-size: 1.8em;
  color: #000;
  background-color: #fff;
  margin-top: 18px;
  border-radius: 5px;
  width: 51%;
  display: flex;
  align-items: center;
}
.container .task:hover{
  background-color: #dee;
}

.container .task-underway {
  font-size: 1.8em;
  color: #666;
  background-color: #88f1c9;

  border-radius: 5px;
  width: 51%;

  display: flex;
  align-items: center;
}


.container a{
 color: #000;
}
.container a:hover{
 color: #888;
}


.container .task .github-logo {
  background-image: url("../img/GitHub-Mark-s-click.png");
  background-repeat: no-repeat;
  height: 30px;
  width: 30px;
  margin: 3px 0;
  margin-left: 5%;
}

.container .task .github-logo:hover {
  background-image: url("../img/GitHub-Mark-s.png");
  background-repeat: no-repeat;
  height: 30px;
  width: 30px;
  margin: 3px 0;
  margin-left: 5%;
}

.container .task * {
  font-size: 1em;
  margin-left: 3%;
  margin-top: 3px;
  padding: 10px;
}
}
